*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  line-height: 0;
}

body {
  background: black;
  margin: 0;
  text-align: center;
}

#hud {
  background-color: purple;
  margin: 0 auto;
}
