*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  line-height: 0;
}

body {
  background: black;
  margin: 0;
  text-align: center;
}

div {
  margin: 0 auto;
}

#canvas-container {
  position: relative;
  width: auto;
}

#intro {
  position: absolute;
  color: white;
  padding: 1rem;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: left;
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: calc(2vw);
  background-color: black;
  border: 1rem solid black;
  width: 100%;
  height: 100%;
}

#intro > p {
  padding-top: 1.5rem;
  opacity: 0;
  animation: fdsseq 2.5s forwards;
}

#intro > p:nth-child(1) {
  animation-delay: 1.5s; /* they */
}
#intro > p:nth-child(2) {
  animation-delay: 5.5s; /* we */
}
#intro > p:nth-child(3) {
  animation-delay: 9s; /* now */
}
#intro > p:nth-child(4) {
  animation-delay: 13s; /* this isn't */
}
#intro > p:nth-child(5) {
  animation-delay: 17s; /* I */
}
#intro > p:nth-child(6) {
  animation-delay: 20s; /* they */
}
#intro > p:nth-child(7) {
  animation: fdsseq 0s forwards;
  animation-delay: 24s; /* brutally */
}
#intro > p:nth-child(8) {
  animation-delay: 26s; /* I */
}
#intro > p:nth-child(9) {
  animation-delay: 30s; /* they */
}
#intro > p:nth-child(10) {
  animation: fdsseq 0s forwards;
  animation-delay: 34s; /* run */
}

#run {
  color: white;
  font-size: calc(2.2vw);
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  color: orange;
  font-family: Consolas, "Courier New", Courier, monospace;
}

@keyframes fdsseq {
  100% {
    opacity: 1;
  }
}

#hud {
  margin: 0 auto;
  padding: 1.5% 0;
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
}

#panel {
  width: 75%;
  height: 100%;
  background: -webkit-linear-gradient(to bottom, #0d1c23, #060d10);
  background: linear-gradient(to bottom, #0d1c23, #060d10);
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  animation: glow 1.25s ease-in-out infinite alternate;
  -webkit-animation: glow 1.25s ease-in-out infinite alternate;
  -moz-animation: glow 1.25s ease-in-out infinite alternate;
}

#left {
  width: 50%;
}

#right {
  width: 50%;
  position: relative;
}

#code {
  width: 100%;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 1rem 1rem 0.5rem;
  z-index: 10;
  color: #228dff;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: Consolas, "Courier New", monospace;
}

.button-container {
  position: absolute;
  left: 105%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.armlet-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#submit {
  margin-top: 1rem;
  background-color: limegreen;
  cursor: pointer;
}

#reset {
  background-color: crimson;
  margin-bottom: 1rem;
  cursor: pointer;
}

@keyframes glow {
  from {
    box-shadow: 0 0 2px #253238, 0 0 4px #253238, 0 0 6px #253238,
      0 0 8px rgba(34, 141, 255, 1), 0 0 12px rgba(34, 141, 255, 0.8),
      0 0 16px rgba(34, 141, 255, 0.6),
      0 0 20px rgba(34, 141, 255, 0.4),
      0 0 30px rgba(34, 141, 255, 0.2);
  }
  to {
    box-shadow: 0 0 1px #253238, 0 0 2px #253238, 0 0 3px #253238,
      0 0 4px rgba(34, 141, 255, 1), 0 0 6px rgba(34, 141, 255, 0.8),
      0 0 8px rgba(34, 141, 255, 0.6),
      0 0 10px rgba(34, 141, 255, 0.4),
      0 0 15px rgba(34, 141, 255, 0.2);
  }
}
@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 2px #253238, 0 0 4px #253238, 0 0 6px #253238,
      0 0 8px rgba(34, 141, 255, 1), 0 0 12px rgba(34, 141, 255, 0.8),
      0 0 16px rgba(34, 141, 255, 0.6),
      0 0 20px rgba(34, 141, 255, 0.4),
      0 0 30px rgba(34, 141, 255, 0.2);
  }
  to {
    box-shadow: 0 0 1px #253238, 0 0 2px #253238, 0 0 3px #253238,
      0 0 4px rgba(34, 141, 255, 1), 0 0 6px rgba(34, 141, 255, 0.8),
      0 0 8px rgba(34, 141, 255, 0.6),
      0 0 10px rgba(34, 141, 255, 0.4),
      0 0 15px rgba(34, 141, 255, 0.2);
  }
}
@-moz-keyframes glow {
  from {
    box-shadow: 0 0 2px #253238, 0 0 4px #253238, 0 0 6px #253238,
      0 0 8px rgba(34, 141, 255, 1), 0 0 12px rgba(34, 141, 255, 0.8),
      0 0 16px rgba(34, 141, 255, 0.6),
      0 0 20px rgba(34, 141, 255, 0.4),
      0 0 30px rgba(34, 141, 255, 0.2);
  }
  to {
    box-shadow: 0 0 1px #253238, 0 0 2px #253238, 0 0 3px #253238,
      0 0 4px rgba(34, 141, 255, 1), 0 0 6px rgba(34, 141, 255, 0.8),
      0 0 8px rgba(34, 141, 255, 0.6),
      0 0 10px rgba(34, 141, 255, 0.4),
      0 0 15px rgba(34, 141, 255, 0.2);
  }
}
